* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    width: 100%;
    display: flex;
    flex-flow: column;
    flex-wrap: nowrap;
    align-items: center;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 20%;
    background-image: url(https://scontent.fsea1-1.fna.fbcdn.net/v/t1.0-9/22688325_534419983564262_252748465648073296_n.jpg?_nc_cat=110&_nc_ht=scontent.fsea1-1.fna&oh=5b15eaad8170b40353642ab0fd3aa2fa&oe=5C3C53DC);
    background-position: center;
    background-repeat: no-repeat;
}

.arrow {

    width: 20%;
    align-self: center;
}