* {
    margin: 0;
}

#logo {
    width: 100%;
    align-self: center;
    margin: 5px 10px;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    color: #303030;
}

body {
    display: flex;
    flex-flow: column wrap;
}

div {
    display: flex;
}

nav {
    height: 130px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.socials {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-end;
}

.social-link {
    border-radius: 5px;
    margin: 5px;
    width: 35px;
    height: 35px;
}

.social-under {
    margin: 2px 5px;
}

.nav-link {
    font-family: sans-serif;
}

#carousel {
    display: flex;
    width: 90%;
    align-content: center;
    background: url(assets/frank-profile/IMG_0086);
}

.arrow {
    width: 5%;
    align-self: center;
}